# Eclipse
.classpath
.project
.settings/


# Mac
.DS_Store

# Maven
log/
target/
target/*
/bin/

/sonar-project.properties
/.gitconfig

.scannerwork
.sts4-cache



*.class

# Package Files #
*.jar
*.war
*.ear



# IntelliJ
.idea/
*.iml
*.ipr
*.iws

